@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

/*  CSS Grid */
* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
  /* min-height: 100vh; */
}

header {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 375px 100px;
  grid-gap: 2em;
}

main {
  background-color: white;
  /* box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
  -30px 0px 40px rgba(0,0,0,0.1); */
}

ul {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* minmax tells the browser to make the columns a minimum of 200px and a max of 1fr. */
  list-style: none;
  padding: 0;
}

/* ----------------------------------------- FOOTER STYLING */

.black {
  background-color: #222831;
}

footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [break_row1] 4em [contact_header] 0.25fr [paragraph1] auto [paragraph2] auto;
  width: 100%;
  height: 100%;
  font-family: Spartan;
  text-align: center;
  background-color: #fff;
  box-shadow: 5px 10px 8px #888888;
  /* margin-top: 3em; */
}

h3 {
  font-size: 2em;
}

/**************************************************** Class Selectors */

.logo {
  object-fit: contain;
}

/* Contact card */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 5px solid #222831;
  background-color: #222831;
}

/* Icons within contact card */
.icon {
  object-fit: contain;
  width: 40%;
  /* height: 40% */
  /* padding-top: 5px; */
}

a {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
}

/************************************************* Image Stlying */

img {
  object-fit: cover;
  display: block;
  width: 100%; /* Tells element to take up 100% of the container */
  height: 100%; /* Prevents the content in the container from overflowing. Perfectly scales image containers. *.
  /* transition: .3s ease-in-out;
  -webkit-filter: grayscale(100%); */
}

img:hover {
  /* -webkit-filter: grayscale(0%); */
  /* filter: grayscale(0); */
}


/************************************************************************ Media Queries */
