@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

/*  CSS Grid */
* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
  /* min-height: 100vh; */
}

header {
  margin-top: 1em;
  display: inline-grid;
  grid-template-columns: 375px;
  grid-template-rows: 375px 100px;
  grid-gap: 5px;
}

ul {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* minmax tells the browser to make the columns a minimum of 200px and a max of 1fr. */
  list-style: none;
  padding: 0;
}

/**************************************************** Class Selectors */

.logo {
  object-fit: contain;
}

.icon {
  object-fit: contain;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
}

img {
  object-fit: cover;
  display: block;
  width: 100%; /* Tells element to take up 100% of the container */
  height: 100%; /* Prevents the content in the container from overflowing. Perfectly scales image containers. *.
  /* transition: .3s ease-in-out;
  -webkit-filter: grayscale(100%); */
}

img:hover {
  /* -webkit-filter: grayscale(0%); */
  /* filter: grayscale(0); */
}

/************************************************************************ Media Queries */
